
<div id="stock-account-view" class="stock-account-view">
  <div class="account-balance"><h2>Balance: <%= account.balance %></h2></div>
  <div class="account-value"><h2>$<span><%= account.value %></span></h2></div>
  <a class="btn btn-default add-balance" data-toggle="modal" data-target="#add-balance-modal">
    <span class="glyphicon glyphicon-plus"></span>
  </a>
  <div id="add-balance-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add Balance</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="stock-trade-modal-trade-price" class="col-sm-3 control-label">Current Balance</label>
              <div class="col-sm-6">
                <input type="text" class="form-control trade-price" id="stock-trade-modal-trade-price"
                       placeholder="the balance in stock viewer">
              </div>
            </div>
            <div class="form-group">
              <label for="stock-trade-modal-trade-volume" class="col-sm-3 control-label">Add Amount</label>
              <div class="col-sm-6">
                <input type="text" class="form-control trade-volume" id="stock-trade-modal-trade-volume"
                       placeholder="the amount of balance to add">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary trade-action">Add</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>