html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}
div.site-wrapper {
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
}
div.main-container {
  width: 700px;
  margin-right: auto;
  margin-left: auto;
}
div.stocks-container {
  padding: 20px 0;
}
div.stocks-container div.stock-summary-view {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  height: 80px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
div.stocks-container div.stock-summary-view div.stock-name {
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  float: left;
  line-height: 60px;
}
div.stocks-container div.stock-summary-view div.wrapper {
  float: right;
}
div.stocks-container div.stock-summary-view div.stock-price,
div.stocks-container div.stock-summary-view div.stock-volume {
  font-size: 16px;
  line-height: 30px;
  height: 30px;
  text-align: right;
}
