html,
body {
  height: 100%;
  background-color: #333;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a:hover {
  text-decoration: none;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}
div.site-wrapper {
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
}
div.site-container {
  width: 700px;
  margin-right: auto;
  margin-left: auto;
}
div.header {
  width: 700px;
  height: 80px;
  vertical-align: bottom;
}
div.header h1 {
  float: left;
  font-size: 21px;
  margin-top: 45px;
  line-height: 35px;
  text-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
}
div.header ul {
  margin-top: 45px;
  float: right;
}
div.header ul li {
  display: inline-block;
  margin: 0 10px;
  font-size: 16px;
  line-height: 35px;
  font-weight: bold;
}
div.header ul li a {
  color: #ffffff;
}
div.header ul li a.active {
  height: 35px;
  display: inline-block;
  box-shadow: 0px 3px 0px #ffffff;
}
div.stocks-container {
  padding: 20px 0;
}
div.stocks-container div.stock-summary-view:first-child {
  margin-top: 10px;
  border-top: solid 1px #444;
}
div.stocks-container div.stock-summary-view {
  width: 100%;
  padding: 10px 20px;
  height: 150px;
  border-bottom: solid 1px #444;
  vertical-align: baseline;
}
div.stocks-container div.stock-summary-view div.stock-time-symbol-type-wrapper {
  float: left;
  text-align: left;
  display: inline-block;
}
div.stocks-container div.stock-summary-view div.stock-time-symbol-type-wrapper div.stock-time,
div.stocks-container div.stock-summary-view div.stock-time-symbol-type-wrapper div.stock-symbol,
div.stocks-container div.stock-summary-view div.stock-time-symbol-type-wrapper div.stock-type {
  font-size: 18px;
  line-height: 65px;
  height: 65px;
}
div.stocks-container div.stock-summary-view div.stock-time-symbol-type-wrapper div.stock-symbol,
div.stocks-container div.stock-summary-view div.stock-time-symbol-type-wrapper div.stock-type {
  display: inline-block;
  margin-right: 10px;
}
div.stocks-container div.stock-summary-view div.stock-name {
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
  line-height: 130px;
}
div.stocks-container div.stock-summary-view div.wrapper {
  float: right;
  display: inline-block;
}
div.stocks-container div.stock-summary-view div.stock-price,
div.stocks-container div.stock-summary-view div.stock-volume {
  font-size: 18px;
  line-height: 65px;
  height: 65px;
  text-align: right;
}
